/* Section */
.contact-intro {
    padding: 80px 40px;
    background: black;
}

.contact-intro-inner {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid #eee;
    padding-top: 80px;
}

/* LEFT SIDE TEXT */
.intro-left h2 {
    font-size: 72px;
    font-weight: 900;
    line-height: 0.95;
    margin: 0 0 40px 0;
    color: #fff;
    letter-spacing: -1px;
}

.intro-left p {
    font-size: 16px;
    color: #777;
    line-height: 1.6;
    max-width: 380px;
}

/* BUTTON */
.intro-btn {
    display: flex;
    width: 56px;
    height: 56px;
    border: 1px solid #000;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.2s ease;
}

.intro-btn img {
    width: 42px;
    height: 42px;
}

.intro-btn:hover {
    background: #000;
}


/* RESPONSIVE */
@media (max-width: 900px) {

    .contact-intro {
        padding: 80px 20px;
    }

    .intro-left h2 {
        font-size: 48px;
    }

    .contact-intro-inner {
        flex-direction: column;
        gap: 40px;
    }

    .intro-btn {
        width: 48px;
        height: 48px;
        border-radius: 10px;
    }
}

@media (max-width: 600px) {
    .intro-left h2 {
        font-size: 40px;
    }

    .contact-intro-inner {
        flex-direction: column;
        gap: 40px;
        border-top: 1px solid black;
        padding-top: 30px;
    }

    .contact-intro {
        padding: 30px 20px;
    }

}