.faq-section {
  background: #060708;
  padding: 20px;
  border-radius: 0px 0px 30px 30px;
  max-width: 1400px;
  margin: 0 auto;
}

.faq-container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}

.cs-head-faq {
  max-width: 1400px;
  margin: 0 auto 28px;
  padding: 0 clamp(18px, 4vw, 20px);
  text-align: left;
}

.cs-kicker-faq {
  margin: 0 0 10px;
  font-size: 12px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.cs-heading-faq {
  line-height: 1.1;
  margin: 0 0 20px;
  font-family: "Anton", sans-serif;
  font-style: italic;
  font-size: 90px;
  letter-spacing: 2px;
  color: #FFDA00;
  text-transform: capitalize;
}

.cs-subtitle-faq {
  margin: 0 0 40px;
  max-width: 420px;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255,255,255,.75);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.faq-subtext {
  font-family: 'Inter';
  font-weight: 400;
  color: rgba(255,255,255,.75);
  max-width: 345px;
  font-size: 14px;
  text-align: left;
  margin: 0;
}

.faq-title-top {
  font-family: "Anton";
  font-style: italic;
  font-size: 130px;
  letter-spacing: 5px;
  color: #FFDA00;
  margin: 0 0 0px 0;
  align-self: flex-start;
  text-align: left;
}

.faq-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.faq-item {
  border-bottom: 1px solid #fff;
  overflow: hidden;
  transition: 0.3s ease;
  margin-top: 0px;
}

.faq-header {
  width: 100%;
  padding: 10px 20px 20px 20px;
  font-size: 4.2rem;
  color: #E6E6EB;
  font-weight: 500;
  font-family: "Anton";
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s ease;
  line-height: 1;
  letter-spacing: 2px;
}

.faq-label {
  flex: 1;
  text-align: center;
}

.faq-number {
  font-size: 4.2rem;
  font-family: "Anton";
  font-style: italic;
  color: #FFDA00;
  font-weight: 800;
}

.faq-header .arrow img{
  width: 60px;             
  height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
  display: block;
}

.faq-item.active .faq-header .arrow {
  color: #FFDA00;
  transform: rotate(90deg);
}

.faq-content p {
  padding: 18px 0 24px;
  line-height: 1.6;
  color: #eee;
  font-family: "Inter";
  font-weight: 300;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  opacity: 0;
  transform: translateY(-6px);
  transition:
    max-height 0.55s ease,
    padding 0.45s ease,
    opacity 0.35s ease,
    transform 0.35s ease;
}

.faq-item.active .faq-content {
  max-height: 600px;       
  padding: 0 20px 18px;
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 900px) {
  .faq-title-top {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .faq-header {
    font-size: 1.6rem;
    padding: 14px 10px;
  }

  .faq-number {
    font-size: 1.7rem;
  }

  .faq-header .arrow {
    font-size: 1.5rem;
  }

  .faq-header-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .faq-intro {
    text-align: left;
    max-width: 100%;
  }
}

@media (max-width: 480px) {

  .faq-section {
  padding: 10px;
}

   .cs-head-faq {
  padding: 0 clamp(10px, 0vw, 20px);
  margin-bottom: 20px;
 
}

  .faq-kicker{
  margin: 0 0 0px;
  font-size: 12px;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #E6E6EB;
  font-family: "Inter", sans-serif;
}

.cs-heading-faq {
  font-size: 38px;
}
  .faq-title-top {
    font-size: 44px;
    margin-bottom: 15px;
  }

  .faq-label {
    font-size: 23px;
  }

  .faq-header {
    font-size: 1.6rem;
    padding: 14px 10px;
  }

  .faq-number {
    font-size: 23px;
  }

  .faq-header .arrow {
    font-size: 1.5rem;
  }

  .faq-header-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    padding-left: 0;
    padding-right: 0;
  }

  .faq-intro {
    text-align: left;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .faq-header .arrow img{
  width: 25px;             
  height: 25px;
  object-fit: contain;
  transition: transform 0.3s ease, filter 0.3s ease;
  display: block;
}
}
