/* ONE combined footer section */
.footer {
  padding: 40px 40px 16px 40px;
  background: #FFDA00;
  color: #0b0f12;
}

.contact-intro-inner {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.intro-left h2 {
  font-family: 'Anton';
  font-style: italic;
  font-size: 110px;
  letter-spacing: 5px;
  color: #0b0f12;
  font-weight: 800;
  line-height: 1.1;
  margin: 0 0 10px 0;
}

.intro-left p {
  color: #0b0f12;
  max-width: 380px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
}

.contact-btn, 
.contact-btn-right {
  background: #0b0f12;
  color: #fff;
  padding: 10px 12px;
  border-radius: 4px;
  margin-top:35px;
  display: inline-flex;          
  align-items: center;           
  justify-content: center;      
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.5px;
  border-radius: 4px;
  vertical-align: middle;      
  text-decoration: none;        
  box-sizing: border-box;       
  height: 42px;                 
  padding: 0 10px;              
  gap: 10px;   
}

.contact-btn-avatar {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    object-fit: cover;
    display: inline-block;        
    vertical-align: middle;
}

.contact-btn-right {
   color: black;
   border: 1px solid black;
   background-color: #FFDA00;
   transition: background 0.2s ease, transform 0.2s ease;
}

.contact-read {
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  gap: 6px;
  color: #0b0f12;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

.contact-read-arrow {
  width: 10px;
  height: 10px;
  object-fit: contain;
  transform: rotate(270deg);
}

.footer-bottom {
  max-width: 1400px;
  margin: 22px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 14px;

}

.footer-bottom-left {
  width: 1px;
}

.footer-bottom-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.footer-logo img {
  width: 150px;
  display: block;
}


.footer-legal {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.footer-legal span,
.footer-legal a {
  color: #0b0f12;
  text-decoration: none;
}

.footer-legal a:hover {
  color: #fff;
}

/* MOBILE */
@media (max-width: 900px) {
  .footer {
    padding: 30px 20px 18px;
  }

  .contact-intro-inner {
    flex-direction: column;
    gap: 40px;
  }

  .intro-left h2 {
    font-size: 48px;
  }
}

@media (max-width: 600px) {
  .intro-left h2 {
    font-size: 40px;
  }

  .intro-left p {
  color: #0b0f12;
  max-width: 370px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
}

.contact-btn {
  font-family: 'Inter', sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #0b0f12;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-top:35px;
  text-decoration: none;
}

  /* Push "contact-read" to the right */
  .contact-read {
    align-self: flex-end;
    margin-left: auto;
    text-align: right;
    margin-top: 20px;
  }
  .footer-logo {
    display: none;
  }

  .contact-intro-inner {
    gap: 28px;
    padding-top: 10px;
  }

  .footer-bottom {
    align-items: flex-start;
    margin-top: 10px;
    padding-top: 15px;
  }

  .footer-bottom-right {
    align-items: flex-start;
  }
}
