/* ONE combined footer section */
.footer {
  padding: 20px 10px 16px 10px;
  background: #FFDA00;
  color: #0b0f12;
  position: relative; 
  overflow: hidden;   
}

.contact-intro-inner {
  position: relative; 
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.float-img-footer {
  position: absolute;
  z-index: 1; 
  opacity: 0.9;
}

.contact-intro-inner .f1 {
  bottom: -150px;
  left: -5px;
  width: 175px;
}

.contact-intro-inner .f2 {
  top: 80px;
  right: -10px;
  width: 270px;
}

.contact-intro-inner .f3 {
  top: -50px;
  right: 445px;
  width: 125px;
}

.cs-kicker-contact {
  margin: 0 0 10px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  position: relative;
  z-index: 10;
}

.intro-left h2 {
  color: #0b0f12;
  font-weight: 800;
  margin: 0 0 10px 0;
  position: relative;
  z-index: 10;
  font-family: "Anton", sans-serif;
  font-style: italic;
  font-size: 110px;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: capitalize; 
}

.intro-paragraph {
  color: #0b0f12;
  max-width: 380px;
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}

.contact-btn,
.contact-btn-right {
  display: inline-flex;          
  align-items: center;           
  justify-content: center;      
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.5px;
  border-radius: 4px;
  vertical-align: middle;      
  text-decoration: none;        
  box-sizing: border-box;       
  height: 42px;                 
  gap: 10px;  
  margin-top: 35px;
  position: relative;
  z-index: 10;
}

.contact-btn {
  background: #000;
  color: #fff;
  padding: 13px 13px 13px 6px;
}

.contact-btn-avatar {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  object-fit: cover;
  display: inline-block;        
  vertical-align: middle;
}

.contact-btn-right {
  color: black;
  padding: 13px 13px 13px 13px;
  border: 1px solid black;
  background-color: #FFDA00;
  transition: background 0.2s ease, transform 0.2s ease;
}

.contact-read {
  font-weight: 800;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  gap: 6px;
  color: #0b0f12;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  z-index: 10;
}

.contact-read-arrow {
  width: 10px;
  height: 10px;
  object-fit: contain;
  transform: rotate(270deg);
}

.footer-bottom {
  max-width: 1400px;
  margin: 22px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 14px;
}

.footer-bottom-left {
  width: 1px;
}

.footer-bottom-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.footer-logo img {
  width: 150px;
  display: block;
}

.footer-legal {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.footer-legal span,
.footer-legal a {
  color: #0b0f12;
  text-decoration: none;
}

.footer-legal a:hover {
  color: #fff;
}

/* MOBILE */
@media (max-width: 900px) {
  .footer {
    padding: 30px 20px 18px;
  }

  .contact-intro-inner {
    flex-direction: column;
    gap: 40px;
  }

  .intro-left h2 {
    font-size: 48px;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 20px 15px 18px;
  }

  .contact-intro-inner {
    padding: 20px 0 0;
    gap: 28px;
  }

  .cs-kicker-contact {
  font-weight: 600;
}

  .intro-left h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-style: italic;
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .intro-paragraph {
    max-width: 300px;
    font-size: 14px;
  }

  .contact-btn {
    margin-top: 40px;
    padding: 13px 13px 13px 6px;
  }

  .contact-btn-right {
    margin-top: 40px;
  }
  .contact-read {
    align-self: flex-end;
    margin-left: auto;
    text-align: right;
    margin-top: 40px;
  }

  .footer-logo {
    display: none;
  }

  .footer-bottom {
    align-items: flex-start;
    margin-top: 10px;
    padding-top: 15px;
  }

  .footer-bottom-right {
    align-items: flex-start;
  }

  .float-img-footer.f1 { 
    bottom: -60px; 
    left: -20px; 
    width: 105px; 
  }
  .float-img-footer.f2 { 
    top: 40px; 
    right: -20px; 
    width: 85px; 
  }
  .float-img-footer.f3 { 
    top: -30px; 
    right: 110px; 
    width: 55px; 
  }
}
