/* --- HERO SECTION --- */
.hero {
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
    padding-left: 40px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.hero-inner {
    max-width: 620px;
    position: relative;
    z-index: 10;
    margin-top: -150px;
    margin-left: 20px;
}

.hero-title {
    font-family: 'Inter', sans-serif;
    line-height: .95;
    margin-bottom: 25px;
    font-size: 78px;
    font-weight: 900;
    letter-spacing: -1px;
}

.hero-subtitle {
    font-size: 20px;
    opacity: .8;
    margin-bottom: 35px;
}

.hero-btn {
    background: #000;
    color: #FFFFA7;
    padding: 10px 28px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
}


.float-img {
    opacity: 0.9;
    position: absolute;
    z-index: 1; 
    
}

.f3 {
    top: -140px;        
    right: 440px;     
    width: 340px;
}

/* MID RIGHT main large cluster */
.f2 {
    top: 90px;       
    right: -80px;    
    width: 510px;
}

/* BOTTOM LEFT large background cluster */
.f1 {
    bottom: -290px;  
    left: -80px;    
    width: 540px;
}

@keyframes float {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}


@media (max-width: 900px) {

    .hero-title {
        font-size: 64px;
    }

    .f1 { width: 420px; left: -120px; bottom: -160px; }
    .f2 { width: 380px; right: -100px; top: 200px; }
    .f3 { width: 200px; right: 80px; top: -40px; }
}

@media (max-width: 768px) {

    /* NAV MOBILE */
    .nav-links {
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background: #FFF6E7;
        padding: 20px 0;
        gap: 20px;
        text-align: center;
    }

    .nav-links.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    /* HERO MOBILE */
    .hero {
        padding: 200px 20px 60px 20px;
        height: auto;
        text-align: left;
        justify-content: center;
    }

    .hero-title { 
        font-size: 52px;
        margin-top: 20px;
    }

    .hero-subtitle { 
        font-size: 15px;
        font-weight: 400; 
    }

    .hero-btn {
        background: #000;
        color: #FFFFA7;
        padding: 10px 28px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .f1 {
        bottom: -100px;
        left: -50px;
        width: 268px;
        opacity: 0.6;
    }

    .f2 {
        top: 80px;
        right: -10px;
        width: 130px;
        opacity: 0.8;
    }

    .f3 {
        top: -55px;
        right: 65px;
        width: 110px;
        opacity: 0.8;
    
    }
}

@media (max-width: 480px) {
    .hero-title {
        font-size: 34px;
    }
}