@import "nav.css";
@import "hero.css";
@import "motion.css";
@import "projects.css";
@import "timeline.css";
@import "three.css";
@import "story.css";
@import "faq.css";
@import "contact.css";
@import "footer.css";
@import "privacy.css";
@import "work.css";

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #FFDA00;
}

a { 
    text-decoration: none; color: #000; 
}
