/* Three Points */

.three-wrapper {
    background: #F6F6F8;
}

.three-column-section {
    width: 100%;
    background: #000;
    padding: 30px 0 30px 0;
    border-radius: 40px 40px 0 0;
    
}

.cols-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    gap: 80px;
    text-align: center; 
}

.col-item p {
    margin-left: auto;
    margin-right: auto;
    color: #A0A0A6;
    margin-bottom: 20px;
}


/* Individual Column */
.col-item {
    flex: 1;
    color: white;
}

/* Headers */
.col-item h3 {
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #E6E6EB;
    letter-spacing: 1px;
}



/* -------- Responsive -------- */
@media (max-width: 900px) {
    .col-item h3 {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .cols-wrapper {
        flex-direction: column;
        gap: 50px;
    }

    .col-item p {
        max-width: 100%;
    }

    .col-item h3 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 20px;
        margin-top: 20px;
        color: #E6E6EB;
        letter-spacing: 1px;
    }

    
}
